div {
	position: relative;
}

h1 {
	margin: 25px;
	width: 100%;
	background-color: #E84B0D;
	text-align: center;
	font-size: 24px;
	font-family: sans-serif;
	color: #fff;

}

#rightbutton {
	float: right;
	background-color: pink;
	
}
#leftbutton, #rightbutton, #returnButton {
	width: 100px;
	margin: 25px;
}
 